/* style3.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background: rgb(253, 219, 218) !important;
  background: linear-gradient(
    99deg,
    rgba(253, 219, 218, 1) 20%,
    rgba(244, 236, 249, 1) 58%,
    rgba(255, 255, 255, 1) 98%
  ) !important; */
}
/* Change button color to black */
.btn-primary {
  background-color: black;
  border-color: black;
}

/* Change button text color to white */
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: white;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
}
